body {
    color: white;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99;
    background: url("cat-30.webp") center center / cover no-repeat;
    filter: brightness(0.2);
}

.bg {
    height: 100dvh;
    --circle_w: 1px;
    --circle_color: rgba(255, 255, 255, 0.5);
    --bg_color: transparent;
    --m_bet_circle: 8px;
    --A: calc(var(--circle_w) + var(--m_bet_circle));
    --B: calc(var(--circle_w) / 2);
    background:
        0 0 / var(--A) var(--A) radial-gradient(circle at center, var(--circle_color) var(--B), var(--bg_color) var(--B));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grow {
    /* fill the container */
    flex-grow: 1;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    /* display at the top of the container */
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 2rem;
}
